USE [master]
GO
/****** Object:  Database [VLUTradingDB]    Script Date: 6/10/2018 5:44:53 PM ******/
CREATE DATABASE [VLUTradingDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SEP_TRADING_VLU', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\SEP_TRADING_VLU.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SEP_TRADING_VLU_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\SEP_TRADING_VLU_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VLUTradingDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VLUTradingDB]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 6/10/2018 5:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[UserComment] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Comments] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Faculty]    Script Date: 6/10/2018 5:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Faculty](
	[ID] [varchar](50) NOT NULL,
	[FacultyName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Faculty] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Notes]    Script Date: 6/10/2018 5:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Notes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderCode] [varchar](50) NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[UserTrade] [int] NOT NULL,
 CONSTRAINT [PK_Notes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Order]    Script Date: 6/10/2018 5:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [varchar](50) NOT NULL,
	[ProductID] [int] NOT NULL,
	[UserTrade] [int] NOT NULL,
	[UserOrder] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[SubPrice] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Order_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 6/10/2018 5:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[ID] [int] NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_OrderStatus] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Permission]    Script Date: 6/10/2018 5:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Permission](
	[RoleID] [int] NOT NULL,
	[RoleDefineID] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Permission] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC,
	[RoleDefineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Price]    Script Date: 6/10/2018 5:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Price](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DateUpdate] [datetime] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_PriceID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 6/10/2018 5:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[UserID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Picture01] [varchar](max) NULL,
	[Picture02] [varchar](max) NULL,
	[Picture03] [varchar](max) NULL,
	[Picture04] [varchar](max) NULL,
	[Picture05] [varchar](max) NULL,
	[DateCreate] [date] NOT NULL,
	[UnitPrice] [varchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[StatusID] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 6/10/2018 5:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductStatus]    Script Date: 6/10/2018 5:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductStatus](
	[ID] [int] NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ProductStatus] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Rating]    Script Date: 6/10/2018 5:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[UserRating] [int] NOT NULL,
	[RateValue] [int] NOT NULL,
	[Comment] [nvarchar](max) NOT NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_Rating] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 6/10/2018 5:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Role_Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RoleDefine]    Script Date: 6/10/2018 5:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RoleDefine](
	[Id] [varchar](50) NOT NULL,
	[Role_Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 6/10/2018 5:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserInfo](
	[ID] [int] NOT NULL,
	[Gender] [int] NULL,
	[Phone] [varchar](50) NULL,
	[Address] [nvarchar](max) NULL,
	[FacultyID] [varchar](50) NULL,
 CONSTRAINT [PK_Userinfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/10/2018 5:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[EmailID] [varchar](254) NOT NULL,
	[DateOfBirth] [datetime] NULL,
	[Password] [varchar](50) NOT NULL,
	[ActivationCode] [uniqueidentifier] NOT NULL,
	[ResetPasswordCode] [nvarchar](100) NOT NULL,
	[IsEmailVerified] [bit] NOT NULL,
	[Role_ID] [int] NOT NULL,
 CONSTRAINT [PK__Users__3214EC07D4747B9A] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Faculty] ([ID], [FacultyName]) VALUES (N'CNSH', N'Khoa CNSH')
INSERT [dbo].[Faculty] ([ID], [FacultyName]) VALUES (N'CNTT', N'Khoa CNTT')
INSERT [dbo].[Faculty] ([ID], [FacultyName]) VALUES (N'KT', N'Khoa Kế Toán')
INSERT [dbo].[OrderStatus] ([ID], [Status], [StatusName]) VALUES (1, N'Waiting', N'Chờ thanh toán')
INSERT [dbo].[OrderStatus] ([ID], [Status], [StatusName]) VALUES (2, N'Delivery', N'Đang giao hàng')
INSERT [dbo].[OrderStatus] ([ID], [Status], [StatusName]) VALUES (3, N'Complete', N'Đã hoàn thành')
INSERT [dbo].[Permission] ([RoleID], [RoleDefineID]) VALUES (1, N'ADD_USER')
INSERT [dbo].[Permission] ([RoleID], [RoleDefineID]) VALUES (1, N'SET_ROLE')
INSERT [dbo].[Permission] ([RoleID], [RoleDefineID]) VALUES (1, N'VIEWLIST_USER')
SET IDENTITY_INSERT [dbo].[Price] ON 

INSERT [dbo].[Price] ([ID], [DateUpdate], [ProductID], [Price], [Status]) VALUES (2, CAST(0x0000A8EA00000000 AS DateTime), 1, 200000, 0)
INSERT [dbo].[Price] ([ID], [DateUpdate], [ProductID], [Price], [Status]) VALUES (3, CAST(0x0000A8EA00000000 AS DateTime), 1, 400000, 0)
INSERT [dbo].[Price] ([ID], [DateUpdate], [ProductID], [Price], [Status]) VALUES (4, CAST(0x0000A8EA0156A021 AS DateTime), 1, 500000, 0)
SET IDENTITY_INSERT [dbo].[Price] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ID], [Name], [UserID], [CategoryID], [Description], [Picture01], [Picture02], [Picture03], [Picture04], [Picture05], [DateCreate], [UnitPrice], [Quantity], [StatusID]) VALUES (1, N'Dép Lào', 2, 2, N'Dép lào dép xốp mại dzoo', N'abcabc', NULL, NULL, NULL, NULL, CAST(0x453E0B00 AS Date), N'VND', 100, 2)
INSERT [dbo].[Product] ([ID], [Name], [UserID], [CategoryID], [Description], [Picture01], [Picture02], [Picture03], [Picture04], [Picture05], [DateCreate], [UnitPrice], [Quantity], [StatusID]) VALUES (2, N'San pham test', 6, 2, N'san pham test 01', N'~/Avatar/WIN_20171212_10_37_56_Pro180437856.jpg', N'', NULL, NULL, NULL, CAST(0x00000000 AS Date), N'vnd', 1000, 1)
INSERT [dbo].[Product] ([ID], [Name], [UserID], [CategoryID], [Description], [Picture01], [Picture02], [Picture03], [Picture04], [Picture05], [DateCreate], [UnitPrice], [Quantity], [StatusID]) VALUES (3, N'San pham test 02', 6, 1, N'adsdaasdasdasdas', N'~/Avatar/WIN_20171227_16_00_41_Pro180856034.jpg', N'~/Avatar/WIN_20171227_16_00_42_Pro18085602.jpg', N'~/Avatar/WIN_20171227_16_00_42_Pro', N'(2)18085602.jpg', NULL, CAST(0x00000000 AS Date), N'vnd', 343, 1)
SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[ProductCategory] ON 

INSERT [dbo].[ProductCategory] ([ID], [Name]) VALUES (1, N'Đồ Điện Tử')
INSERT [dbo].[ProductCategory] ([ID], [Name]) VALUES (2, N'Thời Trang')
INSERT [dbo].[ProductCategory] ([ID], [Name]) VALUES (3, N'Gia Dụng')
SET IDENTITY_INSERT [dbo].[ProductCategory] OFF
INSERT [dbo].[ProductStatus] ([ID], [Status], [Description]) VALUES (1, N'Pending', N'Sản phẩm đang chờ được duyệt')
INSERT [dbo].[ProductStatus] ([ID], [Status], [Description]) VALUES (2, N'Activated', N'Đã được duyệt')
INSERT [dbo].[ProductStatus] ([ID], [Status], [Description]) VALUES (3, N'Blocked', N'Sản phẩm đã bị khóa')
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [Role_Name]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([Id], [Role_Name]) VALUES (2, N'Moderator')
INSERT [dbo].[Role] ([Id], [Role_Name]) VALUES (3, N'User')
SET IDENTITY_INSERT [dbo].[Role] OFF
INSERT [dbo].[RoleDefine] ([Id], [Role_Name]) VALUES (N'ADD_PRODUCT', N'Thêm Sản Phẩm')
INSERT [dbo].[RoleDefine] ([Id], [Role_Name]) VALUES (N'ADD_USER', N'Thêm User')
INSERT [dbo].[RoleDefine] ([Id], [Role_Name]) VALUES (N'Comment', N'Comment')
INSERT [dbo].[UserInfo] ([ID], [Gender], [Phone], [Address], [FacultyID]) VALUES (2, 2, N'01675479779', N'Làng Lá', N'VLU')
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [EmailID], [DateOfBirth], [Password], [ActivationCode], [ResetPasswordCode], [IsEmailVerified], [Role_ID]) VALUES (2, N'Thuan', N'Nguyen', N'thuannguyen.adp@gmail.com', CAST(0x00008BB800000000 AS DateTime), N'snue/eub8io4FxTEll9DF1WP5/gqSf3los2OH2mtDTw=', N'dfb6b80b-b54a-4fc6-b8b8-128930ab48e0', N'', 0, 3)
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [EmailID], [DateOfBirth], [Password], [ActivationCode], [ResetPasswordCode], [IsEmailVerified], [Role_ID]) VALUES (6, N'Thuan', N'Nguyen Ngoc', N'thuannguyen44@vanlanguni.vn', CAST(0x00008BBB00000000 AS DateTime), N'TPjFdtSRSioqWM8jDGPQqEuRwby23sDJU3dVC3aWWEQ=', N'20ace885-a2d3-4678-852a-ba715ec037a2', N'cee0ae1b-b0dd-4e9d-96de-85f7d7443065', 1, 3)
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[Comment] ADD  CONSTRAINT [DF_Comment_Date]  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_Order_Date]  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_Order_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Price] ADD  CONSTRAINT [DF_PriceID_DateUpdate]  DEFAULT (getdate()) FOR [DateUpdate]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_DateCreate]  DEFAULT (getdate()) FOR [DateCreate]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_StatusID]  DEFAULT ((1)) FOR [StatusID]
GO
ALTER TABLE [dbo].[Rating] ADD  CONSTRAINT [DF_Rating_Date]  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[UserInfo] ADD  CONSTRAINT [DF_Userinfo_Gender]  DEFAULT ((3)) FOR [Gender]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Role_ID]  DEFAULT ((3)) FOR [Role_ID]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Product]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Users] FOREIGN KEY([UserComment])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Users]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_OrderStatus] FOREIGN KEY([Status])
REFERENCES [dbo].[OrderStatus] ([ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_OrderStatus]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Product]
GO
ALTER TABLE [dbo].[Permission]  WITH CHECK ADD  CONSTRAINT [FK_Permission_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Permission] CHECK CONSTRAINT [FK_Permission_Role]
GO
ALTER TABLE [dbo].[Permission]  WITH CHECK ADD  CONSTRAINT [FK_Permission_RoleDefine] FOREIGN KEY([RoleDefineID])
REFERENCES [dbo].[RoleDefine] ([Id])
GO
ALTER TABLE [dbo].[Permission] CHECK CONSTRAINT [FK_Permission_RoleDefine]
GO
ALTER TABLE [dbo].[Price]  WITH CHECK ADD  CONSTRAINT [FK_Price_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[Price] CHECK CONSTRAINT [FK_Price_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[ProductCategory] ([ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductStatus] FOREIGN KEY([StatusID])
REFERENCES [dbo].[ProductStatus] ([ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductStatus]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Users]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK_Rating_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK_Rating_Product]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK_Rating_Users] FOREIGN KEY([UserRating])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK_Rating_Users]
GO
ALTER TABLE [dbo].[UserInfo]  WITH CHECK ADD  CONSTRAINT [FK_UserInfo_Faculty] FOREIGN KEY([FacultyID])
REFERENCES [dbo].[Faculty] ([ID])
GO
ALTER TABLE [dbo].[UserInfo] CHECK CONSTRAINT [FK_UserInfo_Faculty]
GO
ALTER TABLE [dbo].[UserInfo]  WITH CHECK ADD  CONSTRAINT [FK_UserInfo_User] FOREIGN KEY([ID])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserInfo] CHECK CONSTRAINT [FK_UserInfo_User]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([Role_ID])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
