<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Trading - Vanlang University</title>
    <!----------------- CSS --------------------->
    <link href="/Content/reset.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Content/style.css" rel="stylesheet" type="text/css" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/responsive.css" rel="stylesheet" />
    <link href="/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/Content/select2min.css" rel="stylesheet" />
    <link href="/Content/animate.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!------------------- Scirpt ---------------->

    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/jquery.touchSwipe.min.js"></script>
    <script src="~/Scripts/select2.min.js" type="text/javascript"></script>
    <script src="~/Scripts/theme-script.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>


    <style>
        input[type="number"] {
            width: 50px;
        }

        html, body, div, span, applet, object, iframe,
        h1, h2, h3, h4, h5, h6, p, blockquote, pre,
        a, abbr, acronym, address, big, cite, code,
        del, dfn, em, img, ins, kbd, q, s, samp,
        small, strike, strong, sub, sup, tt, var,
        b, u, i, center,
        dl, dt, dd, ol, ul, li,
        fieldset, form, label, legend,
        table, caption, tbody, tfoot, thead, tr, th, td,
        article, aside, canvas, details, embed,
        figure, figcaption, footer, header, hgroup,
        menu, nav, output, ruby, section, summary,
        time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
            font: inherit;
            font-size: 100%;
            vertical-align: baseline;
        }

        html {
            line-height: 1;
        }

        ol, ul {
            list-style: none;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
        }

        caption, th, td {
            text-align: left;
            font-weight: normal;
            vertical-align: middle;
        }

        q, blockquote {
            quotes: none;
        }

            q:before, q:after, blockquote:before, blockquote:after {
                content: "";
                content: none;
            }

        a img {
            border: none;
        }

        article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
            display: block;
        }

        * {
            box-sizing: border-box;
        }

        body {
            color: #333;
            -webkit-font-smoothing: antialiased;
            font-family: "Droid Serif", serif;
        }

        img {
            max-width: 100%;
        }

        .cf:before, .cf:after {
            content: " ";
            display: table;
        }

        .cf:after {
            clear: both;
        }

        .cf {
            *zoom: 1;
        }

        .wrap {
            width: 75%;
            max-width: 960px;
            margin: 0 auto;
            padding: 5% 0;
            margin-bottom: 5em;
        }

        .projTitle {
            font-family: "Montserrat", sans-serif;
            font-weight: bold;
            text-align: center;
            font-size: 2em;
            padding: 1em 0;
            border-bottom: 1px solid #dadada;
            letter-spacing: 3px;
            text-transform: uppercase;
        }

            .projTitle span {
                font-family: "Droid Serif", serif;
                font-weight: normal;
                font-style: italic;
                text-transform: lowercase;
                color: #777;
            }

        .heading {
            padding: 1em 0;
            border-bottom: 1px solid #D0D0D0;
        }

            .heading h1 {
                font-family: "Droid Serif", serif;
                font-size: 2em;
                float: left;
            }

            .heading a.continue:link, .heading a.continue:visited {
                text-decoration: none;
                font-family: "Montserrat", sans-serif;
                letter-spacing: -.015em;
                font-size: .75em;
                padding: 1em;
                color: #fff;
                background: #82ca9c;
                font-weight: bold;
                border-radius: 50px;
                float: right;
                text-align: right;
                -webkit-transition: all 0.25s linear;
                -moz-transition: all 0.25s linear;
                -ms-transition: all 0.25s linear;
                -o-transition: all 0.25s linear;
                transition: all 0.25s linear;
            }

            .heading a.continue:after {
                content: "\276f";
                padding: .5em;
                position: relative;
                right: 0;
                -webkit-transition: all 0.15s linear;
                -moz-transition: all 0.15s linear;
                -ms-transition: all 0.15s linear;
                -o-transition: all 0.15s linear;
                transition: all 0.15s linear;
            }

            .heading a.continue:hover, .heading a.continue:focus, .heading a.continue:active {
                background: #f69679;
            }

                .heading a.continue:hover:after, .heading a.continue:focus:after, .heading a.continue:active:after {
                    right: -10px;
                }

        .tableHead {
            display: table;
            width: 100%;
            font-family: "Montserrat", sans-serif;
            font-size: .75em;
        }

            .tableHead li {
                display: table-cell;
                padding: 1em 0;
                text-align: center;
            }

                .tableHead li.prodHeader {
                    text-align: left;
                }

        .cart {
            padding: 1em 0;
        }

            .cart .items {
                display: block;
                width: 100%;
                vertical-align: middle;
                padding: 1.5em;
                border-bottom: 1px solid #fafafa;
            }

                .cart .items.even {
                    background: #fafafa;
                }

                .cart .items .infoWrap {
                    display: table;
                    width: 100%;
                }

                .cart .items .cartSection {
                    display: table-cell;
                    vertical-align: middle;
                }

                    .cart .items .cartSection .itemNumber {
                        font-size: .75em;
                        color: #777;
                        margin-bottom: .5em;
                    }

                    .cart .items .cartSection h3 {
                        font-size: 1em;
                        font-family: "Montserrat", sans-serif;
                        font-weight: bold;
                        text-transform: uppercase;
                        letter-spacing: .025em;
                    }

                    .cart .items .cartSection p {
                        display: inline-block;
                        font-size: .85em;
                        color: #777777;
                        font-family: "Montserrat", sans-serif;
                    }

                        .cart .items .cartSection p .quantity {
                            font-weight: bold;
                            color: #333;
                        }

                        .cart .items .cartSection p.stockStatus {
                            color: #82CA9C;
                            font-weight: bold;
                            padding: .5em 0 0 1em;
                            text-transform: uppercase;
                        }

                            .cart .items .cartSection p.stockStatus.out {
                                color: #F69679;
                            }

                    .cart .items .cartSection .itemImg {
                        width: 4em;
                        float: left;
                    }

                    .cart .items .cartSection.qtyWrap, .cart .items .cartSection.prodTotal {
                        text-align: center;
                    }

                        .cart .items .cartSection.qtyWrap p, .cart .items .cartSection.prodTotal p {
                            font-weight: bold;
                            font-size: 1.25em;
                        }

                    .cart .items .cartSection input.qty {
                        width: 2em;
                        text-align: center;
                        font-size: 1em;
                        padding: .25em;
                        margin: 1em .5em 0 0;
                    }

                    .cart .items .cartSection .itemImg {
                        width: 8em;
                        display: inline;
                        padding-right: 1em;
                    }

        .special {
            display: block;
            font-family: "Montserrat", sans-serif;
        }

            .special .specialContent {
                padding: 1em 1em 0;
                display: block;
                margin-top: .5em;
                border-top: 1px solid #dadada;
            }

                .special .specialContent:before {
                    content: "\21b3";
                    font-size: 1.5em;
                    margin-right: 1em;
                    color: #6f6f6f;
                    font-family: helvetica, arial, sans-serif;
                }

        a.remove {
            text-decoration: none;
            font-family: "Montserrat", sans-serif;
            color: #ffffff;
            font-weight: bold;
            background: #e0e0e0;
            padding: .5em;
            font-size: .75em;
            display: inline-block;
            border-radius: 100%;
            line-height: .85;
            -webkit-transition: all 0.25s linear;
            -moz-transition: all 0.25s linear;
            -ms-transition: all 0.25s linear;
            -o-transition: all 0.25s linear;
            transition: all 0.25s linear;
        }

            a.remove:hover {
                background: #f30;
            }

        .promoCode {
            border: 2px solid #efefef;
            float: left;
            width: 35%;
            padding: 2%;
        }

            .promoCode label {
                display: block;
                width: 100%;
                font-style: italic;
                font-size: 1.15em;
                margin-bottom: .5em;
                letter-spacing: -.025em;
            }

            .promoCode input {
                width: 85%;
                font-size: 1em;
                padding: .5em;
                float: left;
                border: 1px solid #dadada;
            }

                .promoCode input:active, .promoCode input:focus {
                    outline: 0;
                }

            .promoCode a.btn {
                float: left;
                width: 15%;
                padding: .75em 0;
                border-radius: 0 1em 1em 0;
                text-align: center;
                border: 1px solid #82ca9c;
            }

                .promoCode a.btn:hover {
                    border: 1px solid #f69679;
                    background: #f69679;
                }

        .btn:link, .btn:visited {
            text-decoration: none;
            font-family: "Montserrat", sans-serif;
            letter-spacing: -.015em;
            font-size: 1em;
            padding: 1em 3em;
            color: #fff;
            background: #82ca9c;
            font-weight: bold;
            border-radius: 50px;
            float: right;
            text-align: right;
            -webkit-transition: all 0.25s linear;
            -moz-transition: all 0.25s linear;
            -ms-transition: all 0.25s linear;
            -o-transition: all 0.25s linear;
            transition: all 0.25s linear;
        }

        .btn:after {
            content: "\276f";
            padding: .5em;
            position: relative;
            right: 0;
            -webkit-transition: all 0.15s linear;
            -moz-transition: all 0.15s linear;
            -ms-transition: all 0.15s linear;
            -o-transition: all 0.15s linear;
            transition: all 0.15s linear;
        }

        .btn:hover, .btn:focus, .btn:active {
            background: #f69679;
        }

            .btn:hover:after, .btn:focus:after, .btn:active:after {
                right: -10px;
            }

        .promoCode .btn {
            font-size: .85em;
            paddding: .5em 2em;
        }

        /* TOTAL AND CHECKOUT  */
        .subtotal {
            float: right;
            width: 35%;
        }

            .subtotal .totalRow {
                padding: .5em;
                text-align: right;
            }

                .subtotal .totalRow.final {
                    font-size: 1.25em;
                    font-weight: bold;
                }

                .subtotal .totalRow span {
                    display: inline-block;
                    padding: 0 0 0 1em;
                    text-align: right;
                }

                .subtotal .totalRow .label {
                    font-family: "Montserrat", sans-serif;
                    font-size: .85em;
                    text-transform: uppercase;
                    color: #777;
                }

                .subtotal .totalRow .value {
                    letter-spacing: -.025em;
                    width: 35%;
                }

        .media only screen and (max-width: 39.375em) {
            .wrap

        {
            width: 98%;
            padding: 2% 0;
        }

        .projTitle {
            font-size: 1.5em;
            padding: 10% 5%;
        }

        .heading {
            padding: 1em;
            font-size: 90%;
        }

        .cart .items .cartSection {
            width: 90%;
            display: block;
            float: left;
        }

            .cart .items .cartSection.qtyWrap {
                width: 10%;
                text-align: center;
                padding: .5em 0;
                float: right;
            }

                .cart .items .cartSection.qtyWrap:before {
                    content: "QTY";
                    display: block;
                    font-family: "Montserrat", sans-serif;
                    padding: .25em;
                    font-size: .75em;
                }

            .cart .items .cartSection.prodTotal, .cart .items .cartSection.removeWrap {
                display: none;
            }

            .cart .items .cartSection .itemImg {
                width: 25%;
            }

        .promoCode, .subtotal {
            width: 100%;
        }

        a.btn.continue {
            width: 100%;
            text-align: center;
        }

        }

        section {
            padding: 2em;
        }

            section h3 {
                color: #666;
            }

        .billing-method {
            box-sizing: border-box;
            position: relative;
            background: #f4f4f4;
            padding: 10px 24px 10px;
            border-radius: 2px;
            flex-basis: calc(50% - 10px);
            font-weight: 700;
            font-size: 18px;
            color: #254356;
            text-align: center;
            letter-spacing: -0.05em;
        }

            .billing-method:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background: #fff;
                opacity: 0.5;
                transition: opacity 150ms ease;
                pointer-events: none;
            }

            .billing-method.active {
                box-shadow: inset 0 0 0 1px #979797;
            }

                .billing-method.active:after {
                    opacity: 0;
                }

            .billing-method img {
                width: auto;
                max-height: 20px;
                display: block;
                margin: 5px auto 12px;
            }

        .billing-radio {
            width: 1rem;
            height: 1rem;
        }
    </style>
</head>
<body style="" class="home option2 ng-scope">

    <div class="wrapper page-home">

        <div id="header" class="header">
            <section class="top-link clearfix">
                <div class="container">

                    <div class="row" style="height:50px">

                        <div class="col-md-12">

                            <ul class="nav navbar-nav topmenu-contact pull-left">
                                <li><i class="fa fa-phone"></i> <span>Hotline:0185585935</span></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right topmenu  hidden-xs hidden-sm">
                                <li class="order-check"><a href="../Product/Cart"><i class="fa fa-pencil-square-o"></i> Kiểm tra đơn hàng</a></li>
                                <li class="order-cart"><a href="../Product/Cart"><i class="fa fa-shopping-cart"></i> Giỏ hàng</a></li>


                                @if (Session["UserName"] == null)
                                {
                                    <li class="account-login"><a href="../Account/Login"><i class="fa fa-sign-in"></i> Đăng nhập </a></li>
                                    <li class="account-register"><a href="../Account/SignUp"><i class="fa fa-key"></i> Đăng ký </a></li>

                                }
                                else
                                {
                                    <li class="account-login"><a href="../Account/ChangePassword"><i class="fa fa-sign-in"></i> Thay đổi mật khẩu </a></li>
                                    <li class="account-register"><a href="../Account/LogOut"><i class="fa fa-key"></i> Đăng xuất </a></li>
                                    <li><a href="../Service/Index"><i class="fa fa-list"></i>CMS </a></li>
                                }
                            </ul>
                            <div class="show-mobile hidden-lg hidden-md">
                                <div class="quick-user">
                                    <div class="quickaccess-toggle">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <div class="inner-toggle">
                                        <ul class="login links">
                                            <li>
                                                <a href="../Account/SignUp"><i class="fa fa-sign-in"></i> Đăng ký</a>
                                            </li>
                                            <li>
                                                <a href="../Account/Login"><i class="fa fa-key"></i> Đăng nhập</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="quick-access">
                                    <div class="quickaccess-toggle">
                                        <i class="fa fa-list"></i>
                                    </div>
                                    <div class="inner-toggle">
                                        <ul class="links">
                                            <li><a id="mobile-wishlist-total" href="../Product/Cart" class="wishlist"><i class="fa fa-pencil-square-o"></i> Kiểm tra đơn hàng</a></li>
                                            <li><a title="My cart" data-toggle="modal" data-target="#cart" class="shoppingcart"><i class="fa fa-shopping-cart"></i>Giỏ hàng</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- MAIN HEADER -->
            <div class="container main-header">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 logo">
                        <a href="/" class="logo" title="Trading">
                            @*<@*img src="~/Uploads/LogoSample_ByTailorBrands (2).jpg" alt="Trading" title="Trading">*@*@
                            <img src="https://preview.ibb.co/c0QQn8/Web_LOGO01.jpg" alt="VLUTrading" border="0" />
                        </a>
                        <h1 style="display: none;">
                            Trading
                        </h1>
                    </div>
                    <div class="col-xs-7 col-sm-7 header-search-box">
                        <div class="search-box">
                            <form class="search form-inline">
                                <div class="form-group input-serach">
                                    <input type="text" name="search" class="search_box" id="txtsearch" onblur="if(this.value=='')this.value='Nhập từ khóa tìm kiếm...'"
                                           onfocus="if(this.value=='Nhập từ khóa tìm kiếm...')this.value=''" value="Nhập từ kh&#243;a t&#236;m kiếm..." />
                                </div>
                                <button id="btnsearch" class="pull-right btn-search">
                                    <span class="hidden-400">Tìm kiếm</span>
                                    <span class="show-400"><i class="fa fa-search" aria-hidden="true"></i></span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-xs-5 col-sm-2 group-button-header new-login">
                        @if (Session["ID"] == null)
                        {

                            <a title="Đăng nhập" href="../Account/Login" class="btn-heart"></a>
                            <div class="btn-cart" id="cart-block">
                                <a title="My cart" data-toggle="modal" data-target="#cart">Giỏ hàng</a>
                                <span class="text-show">Giỏ hàng</span>
                                <span style="color:#fff!important" class="items1 text-muted notify notify-right">0</span>
                            </div>
                        }
                        else
                        {
                            <a title="Hồ Sơ" href="../Account/ViewProfile" class="btn-heart"></a>
                            <div class="btn-cart" id="cart-block">
                                <a title="My cart" data-toggle="modal" data-target="#cart">Giỏ hàng</a>
                                <span class="text-show">Giỏ hàng</span>
                                <span style="color:#fff!important" class="items1 text-muted notify notify-right">0</span>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <!-- END MANIN HEADER -->
            <!--Template--
            --End-->
            <div id="nav-top-menu" class="nav-top-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3" id="box-vertical-megamenus">
                            <div class="box-vertical-megamenus menu-quick-select">
                                <h4 class="title click-menu">
                                    <span class="title-menu">Danh mục sản phẩm</span>
                                    <span class="btn-open-mobile pull-right home-page"><i class="fa fa-bars"></i></span>
                                </h4>
                                <div class="vertical-menu-content is-home">
                                    <ul class="vertical-menu-list">
                                        <li class="has-child level0">
                                            <a class="dropdown-toggle has-category parent" href="/san-pham/thoi-trang-40412"><img class="icon-menu" src="~/Uploads/icon/s5.png" alt="Thời trang"> <span>Thời trang</span></a><ul class="level1 drop-menu">
                                                @*<li class="level1"><a class="" href="/san-pham/ao-so-mi-40422"><span>Áo sơ mi</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/ao-khoac-40423"><span>Áo khoác</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/ao-thun-40424"><span>Áo thun</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/quan-tay-cong-so-40425"><span>Quần tây công sở</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/quan-jean-40426"><span>Quần jean</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/dam-vay-nu-40427"><span>Đầm, váy nữ</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/chan-vay-40428"><span>Chân váy</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/quan-kaki-nam-40429"><span>Quần kaki nam</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/ao-vest-blazer-nam-40430"><span>Áo vest, blazer nam</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/quan-shorts-nam-40431"><span>Quần shorts nam</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/do-lot-do-ngu-40432"><span>Đồ lót, đồ ngủ</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/quan-thoi-trang-40433"><span>Quần thời trang</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/quan-legging-40434"><span>Quần legging</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/trang-phuc-cuoi-40435"><span>Trang phục cưới</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/do-boi-40436"><span>Đồ bơi</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/phu-kien-40437"><span>Phụ kiện</span></a></li>*@
                                            </ul>
                                        </li>
                                        <li class="level0"><a class="" href="/san-pham/dien-thoai-ipad-40410"><img class="icon-menu" src="~/Uploads/icon/s3.png" alt="Điện thoại &amp; Ipad"> <span>@*Điện thoại &amp; Ipad*@Phụ kiện công nghệ</span></a></li>
                                        <li class="level0"><a class="" href="/san-pham/laptop-40415"><img class="icon-menu" src="~/Uploads/icon/s8.png" alt="Laptop"> <span>Laptop</span></a></li>
                                        <li class="level0"><a class="" href="/san-pham/my-pham-40411"><img class="icon-menu" src="~/Uploads/icon/s4.png" alt="Mỹ phẩm"> <span>Mỹ phẩm</span></a></li>
                                        <li class="has-child level0">
                                            <a class="dropdown-toggle has-category parent" href="/san-pham/trang-suc-40416"><img class="icon-menu" src="~/Uploads/icon/s9.png" alt="Trang sức"> <span>Trang sức</span></a><ul class="level1 drop-menu">
                                                @*<li class="level1"><a class="" href="/san-pham/trang-suc-cuoi-40485"><span>Trang sức cưới</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/trang-suc-vang-40486"><span>Trang sức vàng</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/trang-suc-kim-cuong-40487"><span>Trang sức kim cương</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/nhan-dinh-hon-40488"><span>Nhẫn đính hôn</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/mat-da-quy-40489"><span>Mặt đá quý</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/ngoc-trai-40490"><span>Ngọc trai</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/trang-suc-cz-40491"><span>Trang sức CZ</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/trang-suc-italy-40492"><span>Trang sức Italy</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/trang-suc-jemma-40493"><span>Trang sức Jemma</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/vong-tay-40494"><span>Vòng tay</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/vong-co-40495"><span>Vòng cổ</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/bong-tai-40496"><span>Bông tai</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/lac-tay-chan-40497"><span>Lắc tay, chân</span></a></li>*@
                                            </ul>
                                        </li>
                                        <li class="has-child level0">
                                            <a class="dropdown-toggle has-category parent" href="/san-pham/the-thao-40397"><img class="icon-menu" src="~/Uploads/icon/s2.png" alt="Thể thao"> <span>Thể thao</span></a><ul class="level1 drop-menu">
                                                @*<li class="level1"><a class="" href="/san-pham/bong-da-40438"><span>Bóng đá</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/bong-chuyen-40439"><span>Bòng chuyền</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/bong-ban-40440"><span>Bóng bàn</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/bong-chay-40441"><span>Bóng chày</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/tennis-40442"><span>Tennis</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/boi-loi-40443"><span>Bơi lội</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/cau-long-40444"><span>Cầu lông</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/ao-the-thao-tap-gym-40445"><span>Áo thể thao tập gym</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/quan-tap-gym-40446"><span>Quần tập gym</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/may-tap-the-thao-40447"><span>Máy tập thể thao</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/giay-the-thao-40448"><span>Giày thể thao</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/mu-the-thao-40449"><span>Mũ thể thao</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/ao-khoac-the-thao-40450"><span>Áo khoác thể thao</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/ao-the-thao-40451"><span>Áo thể thao</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/tui-dung-do-40452"><span>Túi đựng đồ</span></a></li>*@
                                            </ul>
                                        </li>
                                        <li class="level0"><a class="" href="/san-pham/me-va-be-40413"><img class="icon-menu" src="~/Uploads/icon/s6.png" alt="Mẹ và bé"> <span>Hàng tiêu dùng</span></a></li>
                                        <li class="level0"><a class="" href="/san-pham/phu-kien-cong-nghe-40414"><img class="icon-menu" src="~/Uploads/icon/s7.png" alt="Phụ kiện công nghệ"> <span>Hàng tươi sống</span></a></li>


                                        @*<li class="has-child level0">
                                                <a class="dropdown-toggle has-category parent" href="/san-pham/dien-lanh-40418"><img class="icon-menu" src="~/Uploads/icon/s1.png" alt="Điện lạnh"> <span>Điện lạnh</span></a><ul class="level1 drop-menu">
                                                    <li class="level1"><a class="" href="/san-pham/noi-com-dien-40453"><span>Nồi cơm điện</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/noi-ap-suat-40454"><span>Nồi áp suất</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/noi-da-nang-40455"><span>Nồi đa năng</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/bep-gas-40456"><span>Bếp gas</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/bep-dien-40457"><span>Bếp điện</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/lo-vi-song-40458"><span>Lò vi sóng</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/may-lanh-40459"><span>Máy lạnh</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/may-giat-40460"><span>Máy giặt</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/tu-lanh-40461"><span>Tủ lạnh</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/tu-dong-40462"><span>Tủ đông</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/may-loc-nuoc-40463"><span>Máy lọc nước</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/lau-dien-da-nang-40464"><span>Lẩu điện đa năng</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/may-xay-sinh-to-40465"><span>Máy xay sinh tố</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/may-ep-trai-cay-40466"><span>Máy ép trái cây</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/may-say-chen-40467"><span>Máy sấy chén</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/lo-nuong-vi-nuong-40468"><span>Lò nướng, vĩ nướng</span></a></li>
                                                </ul>
                                            </li>
                                            <li class="has-child level0">
                                                <a class="dropdown-toggle has-category parent" href="/san-pham/noi-that-40419"><img class="icon-menu" src="~/Uploads/icon/s12.png" alt="Nội thất"> <span>Nội thất</span></a><ul class="level1 drop-menu">
                                                    <li class="level1"><a class="" href="/san-pham/ghe-nhan-vien-40469"><span>Ghế nhân viên</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/ghe-truong-phong-40470"><span>Ghế trưởng phòng</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/ghe-giam-doc-40471"><span>Ghế giám đốc</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/ghe-bang-cho-40472"><span>Ghế băng chờ</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/ghe-phong-hop-40473"><span>Ghế phòng họp</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/ghe-sofa-40474"><span>Ghế sofa</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/ghe-xep-ong-thep-40475"><span>Ghế xếp, ống thép</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/ban-giam-doc-40476"><span>Bàn giám đốc</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/ban-truong-phong-40477"><span>Bàn trưởng phòng</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/ban-nhan-vien-40478"><span>Bàn nhân viên</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/ban-tiep-tan-40479"><span>Bàn tiếp tân</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/ban-chan-sat-40480"><span>Bàn chân sắt</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/module-ban-lam-viec-40481"><span>Module bàn làm việc</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/ban-cao-cap-40482"><span>Bàn cao cấp</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/ban-ghe-hoa-phat-40483"><span>Bàn ghế hòa phát</span></a></li>
                                                    <li class="level1"><a class="" href="/san-pham/ban-may-tinh-40484"><span>Bàn máy tính</span></a></li>
                                                </ul>
                                            </li>
                                            <li class="level0"><a class="" href="/san-pham/may-anh-40421"><img class="icon-menu" src="~/Uploads/icon/s11.png" alt="Máy ảnh"> <span>Máy ảnh</span></a></li>*@
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="main-menu-new" class="col-sm-12 col-md-9 main-menu">
                            <nav class="navbar navbar-default">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" @*data-toggle="collapse" data-target="#new-menu" aria-expanded="false" aria-controls="navbar"*@>
                                            <i class="fa fa-bars"></i>
                                        </button>
                                        <a class="navbar-brand" href="#">MENU</a>
                                    </div>
                                    <div id="new-menu" class="navbar-collapse collapse">
                                        <ul class="menu t-menu nav">
                                            <li class="level0 active"><a class="" href="../Home/Index"><span>Trang chủ</span></a></li>
                                            <li class="level0"><a class="" href="../Home/AboutUS"><span>Giới thiệu</span></a></li>
                                            <li class="level0"><a class="" href="/Product/Product"><span>Sản phẩm</span></a></li>
                                            <li class="level0"><a class="" href="/tin-tuc.html"><span>Tin tức</span></a></li>
                                            <li class="level0"><a class="" href="/lien-he.html"><span>Liên hệ</span></a></li>
                                        </ul>
                                    </div><!--/.nav-collapse -->
                                </div>
                            </nav>
                        </div>
                    </div>
                    <!-- CART ICON ON MMENU -->
                    @*<a title="My cart" data-toggle="modal" data-target="#cart">Giỏ hàng</a>*@
                    <div id="shopping-cart-box-ontop" style="display: block;" title="My cart" data-toggle="modal" data-target="#cart">
                        <a @*href="/gio-hang.html"*@ data-toggle="modal" data-target="#cart"></a>
                        <span class="icon-cart-ontop"></span>
                        <span style="color:#fff!important" class="items1 text-muted cart-items-count">0</span>
                        <span class="text">Giỏ hàng</span>
                        <div class="shopping-cart-box-ontop-content">
                        </div>
                    </div>
                </div>
            </div>
            <!--Template--
            --End-->
        </div>
        <div class="main">
            <div class="container">
                <div class="row">

                    @RenderBody()
                </div>
            </div>
        </div>


        <!---------Footer -->
        <div class="footer">
            <footer id="footer">
                <div class="container">
                    <!-- introduce-box -->
                    <div id="introduce-box" class="row">
                        <div class="col-md-3">
                            <div id="address-box">
                                <a href="/"><img src="~/Uploads/LogoSample_ByTailorBrands (2).jpg" alt="logo"></a>
                                <div id="address-list">
                                    <div class="tit-name">Địa chỉ:</div>
                                    <div class="tit-contain">1234/3443 đỗ dân lập</div>
                                    <div class="tit-name">Điện thoại:</div>
                                    <div class="tit-contain">0185585935</div>
                                    <div class="tit-name">Email:</div>
                                    <div class="tit-contain">thienvq97@gmail.com</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="introduce-title">Về chúng tôi</div>
                                    <ul class="introduce-list">
                                        <li class="item">
                                            <a href="/gioi-thieu.html">
                                                Giới thiệu
                                            </a>
                                        </li>
                                        <li class="item">
                                            <a href="/content/giao-hang-doi-tra.html">
                                                Giao hàng - Đổi trả
                                            </a>
                                        </li>
                                        <li class="item">
                                            <a href="/content/chinh-sach-bao-mat.html">
                                                Chính sách bảo mật
                                            </a>
                                        </li>
                                        <li class="item">
                                            <a href="/lien-he.html">
                                                Liên hệ
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <div class="introduce-title">Trợ giúp</div>
                                    <ul class="introduce-list">
                                        <li class="item">
                                            <a href="/content/huong-dan-mua-hang.html">
                                                Hướng dẫn mua hàng
                                            </a>
                                        </li>
                                        <li class="item">
                                            <a href="/content/huong-dan-thanh-toan.html">
                                                Hướng dẫn thanh toán
                                            </a>
                                        </li>
                                        <li class="item">
                                            <a href="/content/tai-khoan-giao-dich.html">
                                                Tài khoản giao dịch
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div id="contact-box" class="ng-scope">
                                <div class="introduce-title">Liên kết</div>
                                <div class="social-link">
                                    <a><i class="fa fa-facebook"></i></a>
                                    <a><i class="fa fa-youtube"></i></a>
                                    <a><i class="fa fa-twitter"></i></a>
                                    <a><i class="fa fa-google-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

    </div>
    <a href="#" class="scroll_top" title="Scroll to Top" style="display: inline;">Scroll</a>

    <!-- Modals -->
    <div class="modal fade" id="cart" tabindex="-1">
        <div class="modal-dialog " style="position:initial">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Shopping Cart</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-hover">
                        <thead class="thead-inverse">
                            <tr>
                                <th>Qty</th>
                                <th>Item Name</th>
                                <th>Cost</th>
                                <th class="text-xs-right">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody id="output"> </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal" style="margin-top: 15px;">Continue Shopping</button><a href="/Product/Cart" class="btn btn-primary" style="
                            padding: 6px 12px;
                            border-radius: 5px; 
                            background-color: #337ab7;
                            border-color: #2e6da4;
                            margin-top: 15px;
                            font-weight: initial;">
                    Proceed to checkout</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    $(".vertical-menu-content").addClass("no-home");
    //$(document).ready(function () {
    //    //$(".menu-quick-select ul").hide();
    //    //$(".menu-quick-select").hover(function () { $(".menu-quick-select ul").show(); }, function () { $(".menu-quick-select ul").hide(); });
    //});

    $(document).ready(function () {
        var str = location.href.toLowerCase();
        $("ul.menu li a").each(function () {
            if (str.indexOf(this.href.toLowerCase()) >= 0) {
                $("ul.menu li").removeClass("active");
                $(this).parent().addClass("active");
            }
        });
    });
    $(document).ready(function () {
        $('.menu-product li.child .open-close').on('click', function () {
            $(this).removeAttr('href');
            var element = $(this).parent('li');
            if (element.hasClass('open')) {
                element.removeClass('open');
                element.children('ul').slideUp();
            }
            else {
                element.addClass('open');
                element.children('ul').slideDown();
            }
        });
    });

</script>
