<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    @*<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">*@
    <title>Shopping Cart </title>
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">*@
    <link href="/Content/reset.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Content/style.css" rel="stylesheet" type="text/css" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/responsive.css" rel="stylesheet" />
    <link href="/Content/jquerybxslider.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Content/select2min.css" rel="stylesheet" />
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/jquery-ui.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Content/owl.carousel.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/Content/animate.css" rel="stylesheet" type="text/css" media="all" />


    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/jquery.touchSwipe.min.js"></script>
    <script src="~/Scripts/select2.min.js" type="text/javascript"></script>
    <script src="~/Scripts/theme-script.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>





    <style>
        #output {
            clear: both;
        }

        #checkoutdiv {
            display: none;
        }

        /*.footer {
            background-color: darkgrey;
            color: white;
        }*/
        #slider {
            width: 100%;
            height: 500px;
            position: relative;
            overflow: hidden;
        }

        @@keyframes load {
            from {
                left: -100%;
            }

            to {
                left: 0;
            }
        }

        .slides {
            width: 400%;
            height: 100%;
            position: relative;
            -webkit-animation: slide 30s infinite;
            -moz-animation: slide 30s infinite;
            animation: slide 30s infinite;
        }

        .slider {
            width: 25%;
            height: 90%;
            float: left;
            position: relative;
            z-index: 1;
            overflow: hidden;
        }

        .slide img {
            width: 100%;
            height: 100%;
        }

        .slide img {
            width: 100%;
            height: 100%;
        }

        /*.image {
            width: 100%;
            height: 100%;
        }

            .image img {
                width: 100%;
                height: 100%;
            }*/
        /* Legend */
        .legend {
            border: 500px solid transparent;
            border-left: 800px solid rgba(52, 73, 94, .7);
            border-bottom: 0;
            position: absolute;
            bottom: 0;
        }

        /* Contents */
        .content {
            width: 100%;
            height: 100%;
            position: absolute;
            overflow: hidden;
        }

        .content-txt {
            width: 400px;
            height: 150px;
            float: left;
            position: relative;
            top: 300px;
            -webkit-animation: content-s 7.5s infinite;
            -moz-animation: content-s 7.5s infinite;
            animation: content-s 7.5s infinite;
        }

            .content-txt h1 {
                font-family: Arial;
                text-transform: uppercase;
                font-size: 24px;
                color: #fff;
                text-align: left;
                margin-left: 30px;
                padding-bottom: 10px;
            }

            .content-txt h2 {
                font-family: arial;
                font-weight: normal;
                font-size: 14px;
                font-style: italic;
                color: #fff;
                text-align: left;
                margin-left: 30px;
            }

        /* Switch */
        .switch {
            width: 120px;
            height: 10px;
            position: absolute;
            bottom: 60px;
            z-index: 99;
            left: 30px;
        }

            .switch > ul {
                list-style: none;
            }

                .switch > ul > li {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background: #333;
                    float: left;
                    margin-right: 5px;
                    cursor: pointer;
                }

            .switch ul {
                overflow: hidden;
            }

        .on {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: #f39c12;
            position: relative;
            -webkit-animation: on 30s infinite;
            -moz-animation: on 30s infinite;
            animation: on 30s infinite;
        }

        /* Animation */
        @@-webkit-keyframes slide {
            0%, 100% {
                margin-left: 0%;
            }

            21% {
                margin-left: 0%;
            }

            25% {
                margin-left: -100%;
            }

            46% {
                margin-left: -100%;
            }

            50% {
                margin-left: -200%;
            }

            71% {
                margin-left: -200%;
            }

            75% {
                margin-left: -300%;
            }

            96% {
                margin-left: -300%;
            }
        }

        @@-moz-keyframes slide {
            0%, 100% {
                margin-left: 0%;
            }

            21% {
                margin-left: 0%;
            }

            25% {
                margin-left: -100%;
            }

            46% {
                margin-left: -100%;
            }

            50% {
                margin-left: -200%;
            }

            71% {
                margin-left: -200%;
            }

            75% {
                margin-left: -300%;
            }

            96% {
                margin-left: -300%;
            }
        }

        @@keyframes slide {
            0%, 100% {
                margin-left: 0%;
            }

            21% {
                margin-left: 0%;
            }

            25% {
                margin-left: -100%;
            }

            46% {
                margin-left: -100%;
            }

            50% {
                margin-left: -200%;
            }

            71% {
                margin-left: -200%;
            }

            75% {
                margin-left: -300%;
            }

            96% {
                margin-left: -300%;
            }
        }

        @@-webkit-keyframes content-s {
            0% {
                left: -420px;
            }

            10% {
                left: 0px;
            }

            30% {
                left: 0px;
            }

            40% {
                left: 0px;
            }

            50% {
                left: 0px;
            }

            60% {
                left: 0px;
            }

            70% {
                left: 0;
            }

            80% {
                left: -420px;
            }

            90% {
                left: -420px;
            }

            100% {
                left: -420px;
            }
        }

        @@-moz-keyframes content-s {
            0% {
                left: -420px;
            }

            10% {
                left: 0px;
            }

            30% {
                left: 0px;
            }

            40% {
                left: 0px;
            }

            50% {
                left: 0px;
            }

            60% {
                left: 0px;
            }

            70% {
                left: 0;
            }

            80% {
                left: -420px;
            }

            90% {
                left: -420px;
            }

            100% {
                left: -420px;
            }
        }

        @@keyframes content-s {
            0% {
                left: -420px;
            }

            10% {
                left: 20px;
            }

            15% {
                left: 0px;
            }

            30% {
                left: 0px;
            }

            40% {
                left: 0px;
            }

            50% {
                left: 0px;
            }

            60% {
                left: 0px;
            }

            70% {
                left: 0;
            }

            80% {
                left: -420px;
            }

            90% {
                left: -420px;
            }

            100% {
                left: -420px;
            }
        }

        @@-webkit-keyframes on {
            0%, 100% {
                margin-left: 0%;
            }

            21% {
                margin-left: 0%;
            }

            25% {
                margin-left: 15px;
            }

            46% {
                margin-left: 15px;
            }

            50% {
                margin-left: 30px;
            }

            71% {
                margin-left: 30px;
            }

            75% {
                margin-left: 45px;
            }

            96% {
                margin-left: 45px;
            }
        }

        @@-moz-keyframes on {
            0%, 100% {
                margin-left: 0%;
            }

            21% {
                margin-left: 0%;
            }

            25% {
                margin-left: 15px;
            }

            46% {
                margin-left: 15px;
            }

            50% {
                margin-left: 30px;
            }

            71% {
                margin-left: 30px;
            }

            75% {
                margin-left: 45px;
            }

            96% {
                margin-left: 45px;
            }
        }

        @@keyframes on {
            0%, 100% {
                margin-left: 0%;
            }

            21% {
                margin-left: 0%;
            }

            25% {
                margin-left: 15px;
            }

            46% {
                margin-left: 15px;
            }

            50% {
                margin-left: 30px;
            }

            71% {
                margin-left: 30px;
            }

            75% {
                margin-left: 45px;
            }

            96% {
                margin-left: 45px;
            }
        }

        /* main */
        /* Reset */
        a {
            text-decoration: none;
            color: inherit;
        }

        html {
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body class="home option2 ng-scope">
    <div id="header" class="header">
        <section class="top-link clearfix">
            <div class="container">

                <div class="row" style="height:50px">

                    <div class="col-md-12">

                        <ul class="nav navbar-nav topmenu-contact pull-left">
                            <li><i class="fa fa-phone"></i> <span>Hotline:0185585935</span></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right topmenu  hidden-xs hidden-sm">
                            <li class="order-check"><a href="../Product/Checkout"><i class="fa fa-pencil-square-o"></i> Kiểm tra đơn hàng</a></li>
                            <li class="order-cart"><a href="../Product/Cart"><i class="fa fa-shopping-cart"></i> Giỏ hàng</a></li>


                            @if (Session["UserName"] == null)
                            {
                                <li class="account-login"><a href="../Account/Login"><i class="fa fa-sign-in"></i> Đăng nhập </a></li>
                                <li class="account-register"><a href="../Account/SignUp"><i class="fa fa-key"></i> Đăng ký </a></li>

                            }
                            else
                            {
                                <li class="account-login"><a href="../Account/ChangePassword"><i class="fa fa-sign-in"></i> Thay đổi mật khẩu </a></li>
                                <li class="account-register"><a href="../Account/LogOut"><i class="fa fa-key"></i> Đăng xuất </a></li>
                                <li><a href="../Service/Inde    x"><i class="fa fa-list"></i>CMS </a></li>
                            }
                        </ul>
                        <div class="show-mobile hidden-lg hidden-md">
                            <div class="quick-user">
                                <div class="quickaccess-toggle">
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="inner-toggle">
                                    <ul class="login links">
                                        <li>
                                            <a href="../Account/SignUp"><i class="fa fa-sign-in"></i> Đăng ký</a>
                                        </li>
                                        <li>
                                            <a href="../Account/Login"><i class="fa fa-key"></i> Đăng nhập</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="quick-access">
                                <div class="quickaccess-toggle">
                                    <i class="fa fa-list"></i>
                                </div>
                                <div class="inner-toggle">
                                    <ul class="links">
                                        <li><a id="mobile-wishlist-total" href="../Product/Cart" class="wishlist"><i class="fa fa-pencil-square-o"></i> Kiểm tra đơn hàng</a></li>
                                        <li><a href="../Product/Cart" class="shoppingcart"><i class="fa fa-shopping-cart"></i> Giỏ hàng</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- MAIN HEADER -->
        <div class="container main-header">
            <div class="row">
                <div class="col-xs-12 col-sm-3 logo">
                    <a href="/" class="logo" title="Trading">
                        <img src="~/Uploads/LogoSample_ByTailorBrands (2).jpg" alt="Trading" title="Trading">
                    </a>
                    <h1 style="display: none;">
                        Trading
                    </h1>
                </div>
                <div class="col-xs-7 col-sm-7 header-search-box">
                    <div class="search-box">
                        <form class="search form-inline">
                            <div class="form-group input-serach">
                                <input type="text" name="search" class="search_box" id="txtsearch" onblur="if(this.value=='')this.value='Nhập từ khóa tìm kiếm...'"
                                       onfocus="if(this.value=='Nhập từ khóa tìm kiếm...')this.value=''" value="Nhập từ kh&#243;a t&#236;m kiếm..." />
                            </div>
                            <button id="btnsearch" class="pull-right btn-search">
                                <span class="hidden-400">Tìm kiếm</span>
                                <span class="show-400"><i class="fa fa-search" aria-hidden="true"></i></span>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="col-xs-5 col-sm-2 group-button-header new-login">
                    @if (Session["ID"] == null)
                    {

                        <a title="Đăng nhập" href="../Account/Login" class="btn-heart"></a>
                        <div class="btn-cart" id="cart-block">
                            <a title="My cart" data-toggle="modal" data-target="#cart">Giỏ hàng</a>
                            <span class="text-show">Giỏ hàng</span>
                            <span style="color:#fff!important" class="items text-muted notify notify-right">0</span>
                        </div>
                    }
                    else
                    {
                        <a title="Hồ Sơ" href="../Account/ViewProfile" class="btn-heart"></a>
                        <div class="btn-cart" id="cart-block">
                            <a title="My cart" data-toggle="modal" data-target="#cart">Giỏ hàng</a>
                            <span class="text-show">Giỏ hàng</span>
                            <span style="color:#fff!important" class="items text-muted notify notify-right">0</span>
                        </div>
                    }
                </div>
            </div>
        </div>

        <!-- END MANIN HEADER -->
        <!--Template--
        --End-->
        <div id="nav-top-menu" class="nav-top-menu">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3" id="box-vertical-megamenus">
                        <div class="box-vertical-megamenus menu-quick-select">
                            <h4 class="title click-menu">
                                <span class="title-menu">Danh mục sản phẩm</span>
                                <span class="btn-open-mobile pull-right home-page"><i class="fa fa-bars"></i></span>
                            </h4>
                            <div class="vertical-menu-content is-home">
                                <ul class="vertical-menu-list">
                                    <li class="has-child level0">
                                        <a class="dropdown-toggle has-category parent" href="/san-pham/thoi-trang-40412"><img class="icon-menu" src="~/Uploads/icon/s5.png" alt="Thời trang"> <span>Thời trang</span></a><ul class="level1 drop-menu"></ul>
                                    </li>
                                    <li class="level0"><a class="" href="/san-pham/dien-thoai-ipad-40410"><img class="icon-menu" src="~/Uploads/icon/s3.png" alt="Điện thoại &amp; Ipad"> <span>@*Điện thoại &amp; Ipad*@Phụ kiện công nghệ</span></a></li>
                                    <li class="level0"><a class="" href="/san-pham/laptop-40415"><img class="icon-menu" src="~/Uploads/icon/s8.png" alt="Laptop"> <span>Laptop</span></a></li>
                                    <li class="level0"><a class="" href="/san-pham/my-pham-40411"><img class="icon-menu" src="~/Uploads/icon/s4.png" alt="Mỹ phẩm"> <span>Mỹ phẩm</span></a></li>
                                    <li class="has-child level0">
                                        <a class="dropdown-toggle has-category parent" href="/san-pham/trang-suc-40416"><img class="icon-menu" src="~/Uploads/icon/s9.png" alt="Trang sức"> <span>Trang sức</span></a><ul class="level1 drop-menu">
                                            @*<li class="level1"><a class="" href="/san-pham/trang-suc-cuoi-40485"><span>Trang sức cưới</span></a></li>*@
                                        </ul>
                                    </li>
                                    <li class="has-child level0">
                                        <a class="dropdown-toggle has-category parent" href="/san-pham/the-thao-40397"><img class="icon-menu" src="~/Uploads/icon/s2.png" alt="Thể thao"> <span>Thể thao</span></a><ul class="level1 drop-menu"></ul>
                                    </li>
                                    <li class="level0"><a class="" href="/san-pham/me-va-be-40413"><img class="icon-menu" src="~/Uploads/icon/s6.png" alt="Mẹ và bé"> <span>Hàng tiêu dùng</span></a></li>
                                    <li class="level0"><a class="" href="/san-pham/phu-kien-cong-nghe-40414"><img class="icon-menu" src="~/Uploads/icon/s7.png" alt="Phụ kiện công nghệ"> <span>Hàng tươi sống</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="main-menu-new" class="col-sm-12 col-md-9 main-menu">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" @*data-toggle="collapse" data-target="#new-menu" aria-expanded="false" aria-controls="navbar"*@>
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <a class="navbar-brand" href="#">MENU</a>
                                </div>
                                <div id="new-menu" class="navbar-collapse collapse">
                                    <ul class="menu t-menu nav">
                                        <li class="level0 active"><a class="" href="../Home/Index"><span>Trang chủ</span></a></li>
                                        <li class="level0"><a class="" href="../Home/AboutUS"><span>Giới thiệu</span></a></li>
                                        <li class="level0"><a class="" href="/Product/Product"><span>Sản phẩm</span></a></li>
                                        <li class="level0"><a class="" href="/tin-tuc.html"><span>Tin tức</span></a></li>
                                        <li class="level0"><a class="" href="/lien-he.html"><span>Liên hệ</span></a></li>
                                    </ul>
                                </div><!--/.nav-collapse -->
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- CART ICON ON MMENU -->
                @*<a title="My cart" data-toggle="modal" data-target="#cart">Giỏ hàng</a>*@
                <div id="shopping-cart-box-ontop" style="display: block;" title="My cart" data-toggle="modal" data-target="#cart">
                    <a @*href="/gio-hang.html"*@ data-toggle="modal" data-target="#cart"></a>
                    <span class="icon-cart-ontop"></span>
                    <span style="color:#fff!important" class="items text-muted cart-items-count">0</span>
                    <span class="text">Giỏ hàng</span>
                    <div class="shopping-cart-box-ontop-content">
                    </div>
                </div>
            </div>
        </div>
        <!--Template--
        --End-->
    </div>

    @*<div class="slideshow">
            <div class="container">
                <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-9 ">

                    <div id="home-slider">
                        <div class="header-top-right">
                            <div class="homeslider">
                                <div class="bx-wrapper" style="max-width: 100%;">
                                    <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 375px;">
                                        <ul id="contenhomeslider">
                                            <li>
                                                <a href="#">
                                                    <img class="img-responsive" alt="01" src="~/Uploads/slider/banner_silder_2.jpg">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img class="img-responsive" alt="02" src="~/Uploads/slider/banner_silder_3.jpg">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img class="img-responsive" alt="03" src="~/Uploads/slider/banner_silder_4.jpg">
                                                </a>
                                            </li>
                                        </ul>
                                    </div><div class="bx-controls bx-has-pager bx-has-controls-direction"><div class="bx-pager bx-default-pager"><div class="bx-pager-item"><a href="" data-slide-index="0" class="bx-pager-link active">1</a></div><div class="bx-pager-item"><a href="" data-slide-index="1" class="bx-pager-link">2</a></div><div class="bx-pager-item"><a href="" data-slide-index="2" class="bx-pager-link">3</a></div></div><div class="bx-controls-direction"><a class="bx-prev" href=""><i class="fa fa-angle-left"></i></a><a class="bx-next" href=""><i class="fa fa-angle-right"></i></a></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>*@


    <!----Slider-->
    <div id="slider">
        <div class="slides">
            <div class="slider">
                <div class="legend"></div>
                <div class="content">
                    <div class="content-txt">
                        <h1>Lorem ipsum dolor</h1>
                        <h2>Nam ultrices pellentesque facilisis. In semper tellus mollis nisl pulvinar vitae vulputate lorem consequat. Fusce odio tortor, pretium sit amet auctor ut, ultrices vel nibh.</h2>
                    </div>
                </div>
                <div class="image">
                    <img src="http://img11.hostingpics.net/pics/767361311.jpg">
                </div>
            </div>
            <div class="slider">
                <div class="legend"></div>
                <div class="content">
                    <div class="content-txt">
                        <h1>Lorem ipsum dolor</h1>
                        <h2>Nam ultrices pellentesque facilisis. In semper tellus mollis nisl pulvinar vitae vulputate lorem consequat. Fusce odio tortor, pretium sit amet auctor ut, ultrices vel nibh.</h2>
                    </div>
                </div>
                <div class="image">
                    <img src="http://img11.hostingpics.net/pics/412998972.jpg">
                </div>
            </div>
            <div class="slider">
                <div class="legend"></div>
                <div class="content">
                    <div class="content-txt">
                        <h1>Lorem ipsum dolor</h1>
                        <h2>Nam ultrices pellentesque facilisis. In semper tellus mollis nisl pulvinar vitae vulputate lorem consequat. Fusce odio tortor, pretium sit amet auctor ut, ultrices vel nibh.</h2>
                    </div>
                </div>
                <div class="image">
                    <img src="http://img11.hostingpics.net/pics/990696943.jpg">
                </div>
            </div>
            <div class="slider">
                <div class="legend"></div>
                <div class="content">
                    <div class="content-txt">
                        <h1>Lorem ipsum dolor</h1>
                        <h2>Nam ultrices pellentesque facilisis. In semper tellus mollis nisl pulvinar vitae vulputate lorem consequat. Fusce odio tortor, pretium sit amet auctor ut, ultrices vel nibh.</h2>
                    </div>
                </div>
                <div class="image">
                    <img src="http://img11.hostingpics.net/pics/601549194.jpg">
                </div>
            </div>
        </div>
        <div class="switch">
            <ul>
                <li>
                    <div class="on"></div>
                </li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>


    <div class="main">
            @RenderBody()
    </div>


    <div class="partner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <!-- blog list -->
                    <div class="blog-list news-home">
                        <h2 class="page-heading">
                            <span class="page-heading-title">Tin tức nổi bật</span>
                        </h2>
                        <div class="blog-list-wapper">
                            <ul class="owl-carousel owl-theme owl-loaded" data-dots="false" data-loop="true" data-nav="true" data-margin="30" data-autoplaytimeout="1000" data-autoplayhoverpause="true" data-responsive="{&quot;0&quot;:{&quot;items&quot;:1},&quot;600&quot;:{&quot;items&quot;:3},&quot;1000&quot;:{&quot;items&quot;:4}}">




                                <div class="owl-stage-outer">
                                    <div class="owl-stage" style="transform: translate3d(-372px, 0px, 0px); transition: 0s; width: 1488px;">
                                        <div class="owl-item cloned" style="width: 156px; margin-right: 30px;">
                                            <li>
                                                <div class="post-thumb image-hover2">
                                                    <a href="/tin-tuc/20-bo-vay-dep-cua-cac-dien-vien-tung-doat-giai-oscar-10101.html"><img src="~/Uploads/New/blog1.jpg" alt="20 bộ váy đẹp của các diễn viên từng đoạt giải Oscar"></a>
                                                </div>
                                                <div class="post-desc">
                                                    <h5 class="post-title">
                                                        <a href="/tin-tuc/20-bo-vay-dep-cua-cac-dien-vien-tung-doat-giai-oscar-10101.html">20 bộ váy đẹp của các diễn viên từng đoạt giải Oscar</a>
                                                    </h5>
                                                    <div class="post-meta">
                                                        <span class="date">
                                                            12/08/2017
                                                        </span>
                                                        <span class="comment">0<span> Bình luận</span></span>
                                                    </div>
                                                    <div class="readmore">
                                                        <a href="/tin-tuc/20-bo-vay-dep-cua-cac-dien-vien-tung-doat-giai-oscar-10101.html">Xem thêm</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </div><div class="owl-item cloned" style="width: 156px; margin-right: 30px;">
                                            <li>
                                                <div class="post-thumb image-hover2">
                                                    <a href="/tin-tuc/phoi-quan-jeans-cap-cao-theo-phong-cach-thap-nien-1970-10100.html"><img src="~/Uploads/New/blog3.jpg" alt="Phối quần jeans cạp cao theo phong cách thập niên 1970"></a>
                                                </div>
                                                <div class="post-desc">
                                                    <h5 class="post-title">
                                                        <a href="/tin-tuc/phoi-quan-jeans-cap-cao-theo-phong-cach-thap-nien-1970-10100.html">Phối quần jeans cạp cao theo phong cách thập niên 1970</a>
                                                    </h5>
                                                    <div class="post-meta">
                                                        <span class="date">
                                                            12/08/2017
                                                        </span>
                                                        <span class="comment">0<span> Bình luận</span></span>
                                                    </div>
                                                    <div class="readmore">
                                                        <a href="/tin-tuc/phoi-quan-jeans-cap-cao-theo-phong-cach-thap-nien-1970-10100.html">Xem thêm</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </div><div class="owl-item active" style="width: 156px; margin-right: 30px;">
                                            <li>
                                                <div class="post-thumb image-hover2">
                                                    <a href="/tin-tuc/dien-vay-xe-cao-quyen-ru-nhu-miranda-kerr-10103.html"><img src="~/Uploads/New/blog4.jpg" alt="Diện váy xẻ cao quyến rũ như Miranda Kerr"></a>
                                                </div>
                                                <div class="post-desc">
                                                    <h5 class="post-title">
                                                        <a href="/tin-tuc/dien-vay-xe-cao-quyen-ru-nhu-miranda-kerr-10103.html">Diện váy xẻ cao quyến rũ như Miranda Kerr</a>
                                                    </h5>
                                                    <div class="post-meta">
                                                        <span class="date">
                                                            12/08/2017
                                                        </span>
                                                        <span class="comment">0<span> Bình luận</span></span>
                                                    </div>
                                                    <div class="readmore">
                                                        <a href="/tin-tuc/dien-vay-xe-cao-quyen-ru-nhu-miranda-kerr-10103.html">Xem thêm</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </div><div class="owl-item" style="width: 156px; margin-right: 30px;">
                                            <li>
                                                <div class="post-thumb image-hover2">
                                                    <a href="/tin-tuc/nhung-chiec-vong-co-tao-dang-cap-cho-sao-ngoai-tren-tham-do-10102.html"><img src="~/Uploads/New/blog2.jpg" alt="Những chiếc vòng cổ tạo đẳng cấp cho sao ngoại trên thảm đỏ"></a>
                                                </div>
                                                <div class="post-desc">
                                                    <h5 class="post-title">
                                                        <a href="/tin-tuc/nhung-chiec-vong-co-tao-dang-cap-cho-sao-ngoai-tren-tham-do-10102.html">Những chiếc vòng cổ tạo đẳng cấp cho sao ngoại trên thảm đỏ</a>
                                                    </h5>
                                                    <div class="post-meta">
                                                        <span class="date">
                                                            12/08/2017
                                                        </span>
                                                        <span class="comment">0<span> Bình luận</span></span>
                                                    </div>
                                                    <div class="readmore">
                                                        <a href="/tin-tuc/nhung-chiec-vong-co-tao-dang-cap-cho-sao-ngoai-tren-tham-do-10102.html">Xem thêm</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </div><div class="owl-item" style="width: 156px; margin-right: 30px;">
                                            <li>
                                                <div class="post-thumb image-hover2">
                                                    <a href="/tin-tuc/20-bo-vay-dep-cua-cac-dien-vien-tung-doat-giai-oscar-10101.html"><img src="~/Uploads/New/blog1.jpg" alt="20 bộ váy đẹp của các diễn viên từng đoạt giải Oscar"></a>
                                                </div>
                                                <div class="post-desc">
                                                    <h5 class="post-title">
                                                        <a href="/tin-tuc/20-bo-vay-dep-cua-cac-dien-vien-tung-doat-giai-oscar-10101.html">20 bộ váy đẹp của các diễn viên từng đoạt giải Oscar</a>
                                                    </h5>
                                                    <div class="post-meta">
                                                        <span class="date">
                                                            12/08/2017
                                                        </span>
                                                        <span class="comment">0<span> Bình luận</span></span>
                                                    </div>
                                                    <div class="readmore">
                                                        <a href="/tin-tuc/20-bo-vay-dep-cua-cac-dien-vien-tung-doat-giai-oscar-10101.html">Xem thêm</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </div><div class="owl-item" style="width: 156px; margin-right: 30px;">
                                            <li>
                                                <div class="post-thumb image-hover2">
                                                    <a href="/tin-tuc/phoi-quan-jeans-cap-cao-theo-phong-cach-thap-nien-1970-10100.html"><img src="~/Uploads/New/blog3.jpg" alt="Phối quần jeans cạp cao theo phong cách thập niên 1970"></a>
                                                </div>
                                                <div class="post-desc">
                                                    <h5 class="post-title">
                                                        <a href="/tin-tuc/phoi-quan-jeans-cap-cao-theo-phong-cach-thap-nien-1970-10100.html">Phối quần jeans cạp cao theo phong cách thập niên 1970</a>
                                                    </h5>
                                                    <div class="post-meta">
                                                        <span class="date">
                                                            12/08/2017
                                                        </span>
                                                        <span class="comment">0<span> Bình luận</span></span>
                                                    </div>
                                                    <div class="readmore">
                                                        <a href="/tin-tuc/phoi-quan-jeans-cap-cao-theo-phong-cach-thap-nien-1970-10100.html">Xem thêm</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </div><div class="owl-item cloned" style="width: 156px; margin-right: 30px;">
                                            <li>
                                                <div class="post-thumb image-hover2">
                                                    <a href="/tin-tuc/dien-vay-xe-cao-quyen-ru-nhu-miranda-kerr-10103.html"><img src="~/Uploads/New/blog4.jpg" alt="Diện váy xẻ cao quyến rũ như Miranda Kerr"></a>
                                                </div>
                                                <div class="post-desc">
                                                    <h5 class="post-title">
                                                        <a href="/tin-tuc/dien-vay-xe-cao-quyen-ru-nhu-miranda-kerr-10103.html">Diện váy xẻ cao quyến rũ như Miranda Kerr</a>
                                                    </h5>
                                                    <div class="post-meta">
                                                        <span class="date">
                                                            12/08/2017
                                                        </span>
                                                        <span class="comment">0<span> Bình luận</span></span>
                                                    </div>
                                                    <div class="readmore">
                                                        <a href="/tin-tuc/dien-vay-xe-cao-quyen-ru-nhu-miranda-kerr-10103.html">Xem thêm</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </div><div class="owl-item cloned" style="width: 156px; margin-right: 30px;">
                                            <li>
                                                <div class="post-thumb image-hover2">
                                                    <a href="/tin-tuc/nhung-chiec-vong-co-tao-dang-cap-cho-sao-ngoai-tren-tham-do-10102.html"><img src="~/Uploads/New/blog2.jpg" alt="Những chiếc vòng cổ tạo đẳng cấp cho sao ngoại trên thảm đỏ"></a>
                                                </div>
                                                <div class="post-desc">
                                                    <h5 class="post-title">
                                                        <a href="/tin-tuc/nhung-chiec-vong-co-tao-dang-cap-cho-sao-ngoai-tren-tham-do-10102.html">Những chiếc vòng cổ tạo đẳng cấp cho sao ngoại trên thảm đỏ</a>
                                                    </h5>
                                                    <div class="post-meta">
                                                        <span class="date">
                                                            12/08/2017
                                                        </span>
                                                        <span class="comment">0<span> Bình luận</span></span>
                                                    </div>
                                                    <div class="readmore">
                                                        <a href="/tin-tuc/nhung-chiec-vong-co-tao-dang-cap-cho-sao-ngoai-tren-tham-do-10102.html">Xem thêm</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style=""><i class="fa fa-angle-left"></i></div><div class="owl-next" style=""><i class="fa fa-angle-right"></i></div></div><div class="owl-dots" style="display: none;"></div></div>
                            </ul>
                        </div>
                    </div>
                    <!-- ./blog list -->
                    <!--Begin-->
                    <div class="row banner-bottom">
                        <div class="col-sm-6 item-left">
                            <div class="banner-boder-zoom">
                                <a href="1"><img alt="ads" class="img-responsive" src="~/Uploads/banner/banner-botom1.jpg"></a>
                            </div>
                        </div>
                        <div class="col-sm-6 item-right">
                            <div class="banner-boder-zoom">
                                <a href="2"><img alt="ads" class="img-responsive" src="~/Uploads/banner/banner-bottom2.jpg"></a>
                            </div>
                        </div>
                    </div>
                    <!--End-->
                    <!--Begin-->
                    <div class="services2">
                        <ul>
                            <li class="col-xs-12 col-sm-6 col-md-4 services2-item">
                                <div class="service-wapper">
                                    <div class="row">
                                        <div class="col-sm-6 image">
                                            <div class="icon">
                                                <img src="~/Uploads/icon/icon-s1.png" alt="service">
                                            </div>
                                            <h3 class="title"><a href="1">Giá trị lớn</a></h3>
                                        </div>
                                        <div class="col-sm-6 text">
                                            Chúng tôi cung cấp giá cả cạnh tranh nhất trên từng sản phẩm, phù hợp với mọi túi tiền.
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="col-xs-12 col-sm-6 col-md-4 services2-item">
                                <div class="service-wapper">
                                    <div class="row">
                                        <div class="col-sm-6 image">
                                            <div class="icon">
                                                <img src="~/Uploads/icon/icon-s2.png" alt="service">
                                            </div>
                                            <h3 class="title"><a href="3">Giao hàng</a></h3>
                                        </div>
                                        <div class="col-sm-6 text">
                                            Giao hàng tận nơi .
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="col-xs-12 col-sm-6 col-md-4 services2-item">
                                <div class="service-wapper">
                                    <div class="row">
                                        <div class="col-sm-6 image">
                                            <div class="icon">
                                                <img src="~/Uploads/icon/icon-s3.png" alt="service">
                                            </div>
                                            <h3 class="title"><a href="5">Sản phẩm</a></h3>
                                        </div>
                                        <div class="col-sm-6 text">
                                            Sản phẩm chính hãng , chân thực .
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="col-xs-12 col-sm-6 col-md-4 services2-item">
                                <div class="service-wapper">
                                    <div class="row">
                                        <div class="col-sm-6 image">
                                            <div class="icon">
                                                <img src="~/Uploads/icon/icon-s4.png" alt="service">
                                            </div>
                                            <h3 class="title"><a href="2">Hổ trợ</a></h3>
                                        </div>
                                        <div class="col-sm-6 text">
                                            Hổ trợ 24/7. <br>Phone: +84 908 77 00 95.<br>Emal: team5@vanlanguni.edu.vn
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="col-xs-12 col-sm-6 col-md-4 services2-item">
                                <div class="service-wapper">
                                    <div class="row">
                                        <div class="col-sm-6 image">
                                            <div class="icon">
                                                <img src="~/Uploads/icon/icon-s5.png" alt="service">
                                            </div>
                                            <h3 class="title"><a href="4">Ứng dụng</a></h3>
                                        </div>
                                        <div class="col-sm-6 text">
                                            Cài đặt ứng dụng tiện dụng khi mua hàng
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="col-xs-12 col-sm-6 col-md-4 services2-item">
                                <div class="service-wapper">
                                    <div class="row">
                                        <div class="col-sm-6 image">
                                            <div class="icon">
                                                <img src="~/Uploads/icon/icon-s6.png" alt="service">
                                            </div>
                                            <h3 class="title"><a href="6">Thanh toán</a></h3>
                                        </div>
                                        <div class="col-sm-6 text">
                                            Thanh toán khi nhận hàng.
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--End-->
                </div>
            </div>
        </div>
    </div>

    <div class="footer">

        <footer id="footer">
            <div class="container">
                <!-- introduce-box -->
                <div id="introduce-box" class="row">
                    <div class="col-md-3">
                        <div id="address-box">
                            <a href="/"><img src="~/Uploads/LogoSample_ByTailorBrands (2).jpg" alt="logo"></a>
                            <div id="address-list">
                                <div class="tit-name">Địa chỉ:</div>
                                <div class="tit-contain">1234/3443 đỗ dân lập</div>
                                <div class="tit-name">Điện thoại:</div>
                                <div class="tit-contain">0185585935</div>
                                <div class="tit-name">Email:</div>
                                <div class="tit-contain">thienvq97@gmail.com</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="introduce-title">Về chúng tôi</div>
                                <ul class="introduce-list">
                                    <li class="item">
                                        <a href="/gioi-thieu.html">
                                            Giới thiệu
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="/content/giao-hang-doi-tra.html">
                                            Giao hàng - Đổi trả
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="/content/chinh-sach-bao-mat.html">
                                            Chính sách bảo mật
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="/lien-he.html">
                                            Liên hệ
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <div class="introduce-title">Trợ giúp</div>
                                <ul class="introduce-list">
                                    <li class="item">
                                        <a href="/content/huong-dan-mua-hang.html">
                                            Hướng dẫn mua hàng
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="/content/huong-dan-thanh-toan.html">
                                            Hướng dẫn thanh toán
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="/content/tai-khoan-giao-dich.html">
                                            Tài khoản giao dịch
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div id="contact-box" class="ng-scope">
                            <div class="introduce-title">Liên kết</div>
                            <div class="social-link">
                                <a><i class="fa fa-facebook"></i></a>
                                <a><i class="fa fa-youtube"></i></a>
                                <a><i class="fa fa-twitter"></i></a>
                                <a><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- Modals -->
    <div class="modal fade" id="cart" tabindex="-1">
        <div class="modal-dialog" style="position:initial">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Shopping Cart</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-hover">
                        <thead class="thead-inverse">
                            <tr>
                                <th>Qty</th>
                                <th>Item Name</th>
                                <th>Cost</th>
                                <th class="text-xs-right">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody id="output"> </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal" style="margin-top: 15px;">Continue Shopping</button><a href="/Product/Cart" class="btn btn-primary">Proceed to checkout</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        var shopcart = [];
        $(document).ready(function () {
            outputCart();
            $(".productItem").click(function (e) {
                e.preventDefault();
                var iteminfo = $(this.dataset)[0];
                iteminfo.qty = 1;
                var itemincart = false;
                $.each(shopcart, function (index, value) {
                    //console.log(index + '  ' + value.id);
                    if (value.id == iteminfo.id) {
                        value.qty = parseInt(value.qty) + parseInt(iteminfo.qty);
                        itemincart = true;
                    }
                })
                if (!itemincart) {
                    shopcart.push(iteminfo);
                }
                sessionStorage["sca"] = JSON.stringify(shopcart);
                outputCart();
                ///
            })

            function outputCart() {
                if (sessionStorage["sca"] != null) {
                    shopcart = JSON.parse(sessionStorage["sca"].toString());
                    console.log(sessionStorage["sca"]);
                    $('#checkoutdiv').show();
                }
                var holderHTML = '';
                var total = 0;
                var itemCnt = 0;
                $.each(shopcart, function (index, value) {
                    console.log(value);
                    var stotal = value.qty * value.price;
                    total += stotal;
                    itemCnt += parseInt(value.qty);
                    holderHTML += '<tr><td>' + value.qty + '</td><td>#' + value.id + ' ' + value.name + '</td><td> ' + formatMoney(value.price) + ' </td><td class="text-xs-right"> ' + formatMoney(stotal) + '</td></tr>';
                })
                holderHTML += '<tr><td colspan="3" class="text-xs-right">Total</td><td class="text-xs-right">' + formatMoney(total) + '</td></tr>';
                $('#output').html(holderHTML);
                $('.total').html(formatMoney(total));
                $('.items').html(itemCnt);
            }

            function formatMoney(n) {
                return '$' + (n / 100).toFixed(2);
            }
        })
        $(document).ready(function () {
            var str = location.href.toLowerCase();
            $("ul.menu li a").each(function () {
                if (str.indexOf(this.href.toLowerCase()) >= 0) {
                    $("ul.menu li").removeClass("active");
                    $(this).parent().addClass("active");
                }
            });
        });
        $(document).ready(function () {
            $('.menu-product li.child .open-close').on('click', function () {
                $(this).removeAttr('href');
                var element = $(this).parent('li');
                if (element.hasClass('open')) {
                    element.removeClass('open');
                    element.children('ul').slideUp();
                }
                else {
                    element.addClass('open');
                    element.children('ul').slideDown();
                }
            });
        });
    </script>
</body>
</html>
