@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="product-content clearfix">
    <h1 class="title clearfix"><span>Sản phẩm</span></h1>
    <nav class="navbar navbar-default product-filter">
        <ul class="display">
            <li id="grid" class="active grid"><a href="#" title="Grid"><i class="fa fa-th-large"></i></a></li>
            <li id="list" class="list"><a href="#" title="List"><i class="fa fa-th-list"></i></a></li>
        </ul>
        <div class="limit">
            <span>Sản phẩm/trang</span>
            <select id="lblimit" name="lblimit" class="nb_item" onchange="window.location.href = this.options[this.selectedIndex].value">
                <option value="?limit=10">10</option>
                <option selected="selected" value="?limit=12">12</option>
                <option value="?limit=20">20</option>
                <option value="?limit=50">50</option>
                <option value="?limit=100">100</option>
                <option value="?limit=250">250</option>
                <option value="?limit=500">500</option>
            </select>
        </div>
        <div class="sort">
            <span>Sắp xếp</span>
            <select class="selectProductSort" id="lbsort" onchange="window.location.href = this.options[this.selectedIndex].value">
                <option selected="selected" value="?sort=index&amp;order=asc">Mặc định</option>
                <option value="?sort=price&amp;order=asc">Giá tăng dần</option>
                <option value="?sort=price&amp;order=desc">Giá giảm dần</option>
                <option value="?sort=name&amp;order=asc">Tên sản phẩm: A to Z</option>
                <option value="?sort=name&amp;order=desc">Tên sản phẩm: Z to A</option>
            </select>
        </div>
    </nav>
    <div class="content">
        <!-- content changes on each page -->
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-block">
                            <h3 class="card-title">iPhone</h3>
                            <h6 class="card-subtitle text-muted">$500.00</h6> <img src="http://placehold.it/350x150" class="img-fluid">
                        </div>
                        <div class="card-block">
                            <div class="card-text">Product information description why its the best product ever blah blah </div>
                            <a href="#" class="card-link productItem btn btn-primary" data-name="iPhone" data-s="black" data-price="50000" data-id="1">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-block">
                            <h3 class="card-title">iPad</h3>
                            <h6 class="card-subtitle text-muted">$300.00</h6> <img src="http://placehold.it/350x150" class="img-fluid">
                        </div>
                        <div class="card-block">
                            <div class="card-text">Product information description why its the best product ever blah blah </div>
                            <a href="#" class="productItem btn btn-primary" data-name="iPad" data-s="white" data-price="30000" data-id="2">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-block">
                            <h3 class="card-title">Cable 3</h3>
                            <h6 class="card-subtitle text-muted">$12.00</h6> <img src="http://placehold.it/350x150" class="img-fluid">
                        </div>
                        <div class="card-block">
                            <div class="card-text">Product information description why its the best product ever blah blah </div>
                            <a href="#" class="productItem btn btn-primary" data-name="Cable" data-s="3" data-price="1200" data-id="3">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-block">
                            <h3 class="card-title">SD Card 32GB</h3>
                            <h6 class="card-subtitle text-muted">$30.00</h6> <img src="http://placehold.it/350x150" class="img-fluid">
                        </div>
                        <div class="card-block">
                            <div class="card-text">Product information description why its the best product ever blah blah</div>
                            <a href="#" class="productItem btn btn-primary" data-name="SD Card" data-s="32GB" data-price="3000" data-id="4">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-block">
                            <h3 class="card-title">SD Card 16GB</h3>
                            <h6 class="card-subtitle text-muted">$20.00</h6> <img src="http://placehold.it/350x150" class="img-fluid">
                        </div>
                        <div class="card-block">
                            <div class="card-text">Product information description why its the best product ever blah blah </div>
                            <a href="#" class="productItem btn btn-primary" data-name="SD Card" data-s="16GB" data-price="2000" data-id="5">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-block">
                            <h3 class="card-title">SD Card 32GB</h3>
                            <h6 class="card-subtitle text-muted">$10.00</h6> <img src="http://placehold.it/350x150" class="img-fluid">
                        </div>
                        <div class="card-block">
                            <div class="card-text">Product information description why its the best product ever blah blah </div>
                            <a href="#" class="productItem btn btn-primary" data-name="SD Card" data-s="4GB" data-price="1000" data-id="6">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-block">
                            <h3 class="card-title">Cable 4</h3>
                            <h6 class="card-subtitle text-muted">$16.00</h6> <img src="http://placehold.it/350x150" class="img-fluid">
                        </div>
                        <div class="card-block">
                            <div class="card-text">Product information description why its the best product ever blah blah  </div>
                            <a href="#" class="productItem btn btn-primary" data-name="Cable" data-s="4" data-price="1600" data-id="7">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-block">
                            <h3 class="card-title">Cable 1</h3>
                            <h6 class="card-subtitle text-muted">$3.00</h6> <img src="http://placehold.it/350x150" class="img-fluid">
                        </div>
                        <div class="card-block">
                            <div class="card-text">Product information description why its the best product ever blah blah </div>
                            <a href="#" class="productItem btn btn-primary" data-name="Cable" data-s="1" data-price="300" data-id="8">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navigation">
        <ul class="pagination">
            <li>
                <a href="?page=1" aria-label="Previous">
                    <span aria-hidden="true">«</span>
                </a>
            </li>
            <li class="active"><a href="?page=1">1</a></li>
            <li><a href="?page=2">2</a></li>
            <li><a href="?page=3">3</a></li>
            <li><a href="?page=4">4</a></li>
            <li><a href="?page=5">5</a></li>
            <li><a href="?page=6">6</a></li>
            <li><a href="?page=7">7</a></li>
            <li><a href="?page=8">8</a></li>
            <li>
                <a href="?page=8" aria-label="Next">
                    <span aria-hidden="true">»</span>
                </a>
            </li>
        </ul>
    </div>
</section>